<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.hsr.challp.museum">

    <!-- Needed in order to allow the app to enable Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_guide"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="ch.hsr.challp.museum.HomeActivity"
                android:label="@string/title_activity_home"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="ch.hsr.challp.museum.QuestionActivity"
                android:label="@string/title_activity_question"
                android:parentActivityName="ch.hsr.challp.museum.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ch.hsr.challp.museum.HomeActivity"/>
        </activity>
        <activity
                android:name="ch.hsr.challp.museum.ContentActivity"
                android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
                android:label="@string/title_activity_content"
                android:parentActivityName="ch.hsr.challp.museum.ContentActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ch.hsr.challp.museum.ContentActivity"/>
        </activity>

        <service
                android:name="ch.hsr.challp.museum.service.BeaconScanService"
                android:exported="false"/>

        <activity
                android:name="ch.hsr.challp.museum.QuestionFormActivity"
                android:label="@string/title_question_ask"
                android:parentActivityName="ch.hsr.challp.museum.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ch.hsr.challp.museum.HomeActivity"/>
        </activity>
    </application>

</manifest>
